@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 21px 246px 173px 122px;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 61px;
}

.box {
  width: 483px;
  background-color: #1e4681;
  padding: 19px 19px 26px 26px;
}

.box p {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  color: white;
}

.box h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  margin-top: 22px;
  color: white;
}

ul li {
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  margin-right: 39px;
}

.logo {
  margin-bottom: 97px;
  width: 112px;
  height: 66px;
}

ul {
  display: flex;
  align-items: center;
}

ul li p {
  margin-left: 8px;
}

.top h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
  width: 567px;
  margin-top: 29px;
  margin-bottom: 26px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 414px;
}

.collaj {
  display: flex;
  justify-content: space-between;
  align-items: cener;
}

@media only screen and (max-width: 1024px) {

  .main {
    padding: 22px 142px 100px 70px;
  }

  .logo {
    margin-bottom: 57px;
    width: 64px;
    height: 38px;
  }

  ul li img{
    width: 12px;
    height: 12px;
  }

  ul li p{
    margin-left: 5px;
    font-size: 12px;
  }

  ul li{
    margin-right: 14px;
  }

  .mainlogo{
    width: 176px;
    height: 206px;
  }

  .text-container h1{
    font-size: 46px;
  }

  .text{
    font-size: 12px;
    width: 248px;
  }

  .box{
    width: 280px;
    height: 115px;
    padding: 11px 9px 18px 15px;
  }

  .box p{
    font-size: 14px;
  }

  .box h1{
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  
  .main {
    padding: 36px 32px 75px 35px;
    flex-direction: column;
  }

  .collaj{
    flex-direction: column;
  }

  .logo {
    margin-bottom: 44px;
    width: 52px;
    height: 30px;
  }

  ul li img{
    width: 10px;
    height: 9px;
  }

  ul li p{
    margin-left: 3px;
    font-size: 10px;
  }

  ul li{
    margin-right: 11px;
  }

  .mainlogo{
    width: 141px;
    height: 175px;
  }

  .text-container h1{
    font-size: 37px;
    width: 263px;
  }

  .text{
    font-size: 10px;
    width: 212px;
  }

  .box{
    width: 225px;
    height: 93px;
    padding: 8px 7px 14px 12px;
  }

  .box p{
    font-size: 11px;
  }

  .box h1{
    font-size: 10px;
  }
}